* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e9e9ec;
}

.header {
    background-color: rgb(165, 165, 165);
    display: flex;
    padding: 25px;
}

ul {
    display: flex;
    text-align: center;
    margin-left: 270px;
    gap: 100px;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: large;
    border: 1px solid gray;
    padding: 14px;
    background-color: rgb(130, 129, 129)  ;

}

a:hover {
    background-color: rgb(87, 87, 87);
    transition: 0.3s;
}

img {
    width: 260px;
    height: 200px;
    margin: 20px;
}

td {
    padding: 20px;
    font-size: 20px;
}

table {
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.container-index {
    margin: 100px 100px;
    text-align: center;
    background-color: rgb(200, 199, 199);
    border-radius: 10px;
    padding: 20px;
}

thead {
    background-color: gray;
}

.contato {
    margin: 50px 630px;
    background-color: rgb(165, 165, 165);
    padding: 20px;
    border-radius: 10px;
}

.h1-contato {
    text-align: center;
    margin-top: 100px;
}

.submit-contato {
    width: 100%;
    padding: 10px;
    background-color: rgba(76, 208, 76, 0.947);

}

.submit-contato:hover {
    background-color: rgb(52, 150, 52);
}

input {
    padding: 10px;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
}

.container-gerar {
    width: 500px;
    height: 130px;
    background-color: gray;
    margin: 40px 500px;
    padding: 20px;
    border-radius: 10px;
    border: none;


}

.button-gerar {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(106, 163, 21);
}

.button-gerar:hover {
    background-color: green;
}

.button-gerar:active {
    background-color: rgb(1, 99, 1);
}

.h1-gerar {
    text-align: center;
    margin-top: 100px;
}

.galeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      max-width: 1000px;
      margin: 0 auto;
    }

    .card {
      background-color: #e3e1e1;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-top: 20px;
    }

    .card img {
      width: 100%;
      height: auto;
      padding-right: 35px;
    }

    .card p {
      margin-top: 10px;
      font-size: 14px;
      color: #333;
    }

.galery-h1 {
    text-align: center;
    padding: 20px;
}    

#p-sobre {
    text-align: center;
    padding: 20px;
    margin: 0 70px;
}

.imagem {
    margin-left: 130px;
}

.container-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas iguais */
    grid-gap: 40px;
    padding: 60px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}